* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
/* Navigation */
nav {
  display: flex;
  background-color: black;
  font-family: sans-serif;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  font-weight: bolder;
  font-size: 30px;
  color: white;
  padding: 7px 7px;
  margin-left: 100px;
  letter-spacing: 1px;
  align-content: center;
}
.navbar {
  padding-top: 2%;
  padding: 20px 20px;
  justify-content: center;
  display: flex;
  width: 40%;
  word-spacing: 9px;
}
.navbar a {
  text-align: left;
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 2px;
}
.navbar ul {
  list-style: none;
}
.navbar li {
  list-style: none;
  display: inline;
}
.navbar a:hover {
  color: rgb(0, 132, 255);
}
.content {
  background-color: rgb(8, 15, 34);
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10%;
  padding-bottom: 10%;
  letter-spacing: 1px;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  padding-bottom: 25px;
}
.footer {
  left: 0%;
  bottom: 0%;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
}
h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
h3 {
  font-size: 30px;
  color: white;
  font-family: sans-serif;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: rgb(8, 15, 34);
  text-align: center;
}
.copywright {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}
.coloum {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 30px;
}
.card {
  padding: 16px;
  box-shadow: rgb(8, 15, 34);
  transition: 0.3s;
  width: 30%;
  background-color: #f1f1f1;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0.2);
}
.container {
  font-family: sans-serif;
  padding: 2px 16px;
  text-align: center;
}

.pomo {
  background-color: rgb(8, 15, 34);
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10%;
  margin-bottom: -70px;
}
.pfp {
  color: #fc0404;
  text-decoration: none;
}
